MONGO_URI=mongodb+srv://shafwanulhaquechowdhury_db_user:Hm7s5vpuzmsm0XPK@cluster0.jznoeag.mongodb.net/notes_db?appName=Cluster0
PORT=5001

UPSTASH_REDIS_REST_URL=https://concise-tahr-76351.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAASo_AAIgcDFlMTQ5OTU0MzU4ZDI0YzEzYjNiYzI1ODJmZjg1ZjQ0OQ

testRateLimit=true